# Use index.html for all requests
RewriteEngine On
RewriteBase /

# Redirect all requests to index.html except files and directories that exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
